<!-- TODO: figure out if the <nav> should go inside of a <header> element. -->
<nav class="mat-navbar-header" [class.is-next-version]="isNextVersion">
  
  <a mat-button class="docs-button" routerLink="/" aria-label="SorptionLab">
    <img class="mat-sorption-logo"
         src="../../../assets/img/homepage/sorption1_isk.svg"
         alt="SorptionLab">
    <span>SorptionLab</span>
  </a>
  
  <a mat-button class="docs-navbar-hide-small docs-button"
     *ngFor="let key of sectionKeys"
     [routerLink]="key">{{sections[key].name}}</a>
  
  <a mat-button class="docs-navbar-hide-small docs-button" routerLink="guides">Guias</a>
  
  <div class="flex-spacer"></div>


<!--  <version-picker></version-picker>-->
  <theme-picker></theme-picker>



  <a mat-button class="docs-button docs-navbar-hide-small" href="https://github.com/angular/components"
     aria-label="GitHub Repository">
    <img class="mat-sorption-logo"
         src="../../../assets/img/homepage/github-circle-white-transparent.svg"
         alt="angular">
    GitHub
  </a>
  
  <a mat-icon-button class="docs-button mat-navbar-show-small"
     href="https://github.com/angular/components" aria-label="GitHub Repository">
    <img class="mat-sorption-logo"
         src="../../../assets/img/homepage/github-circle-white-transparent.svg"
         alt="angular">
  </a>
  
</nav>



<nav class="mat-navbar mat-navbar-show-small">
  <a mat-button class="mat-navbar-link"
    *ngFor="let key of sectionKeys"
    [routerLink]="key">{{sections[key].name}}</a>
  <a mat-button class="mat-navbar-link" routerLink="guides">Guides</a>
</nav>


<!--src="../../../assets/img/homepage/angular-white-transparent.svg"-->
