.mat-footer {
  padding: 12px;
  font-size: 12px;
  margin-top: 40px;
}

.mat-footer-callband{
  font-size: 12px;
  text-align: center;

  &:hover {
    text-decoration: double;
    font-size: 16px;
  }
}




.mission-box{
    margin-bottom: 1px;
    margin-right: 20px;
    border-right: rgba(64,64,64, 0.6);;
    border-right-style: groove;

}

.mission-text{
    text-align: justify;
    margin-bottom: 1px;
    font-size: 10px;
    line-height: 16px !important;
}



.mat-footer-acp-logo {
  height: 50px;
}




.mat-footer-list {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  padding: 8px;
}

.mat-footer-logo {
  flex: 1;
}


.mat-footer-version {
  flex: 1;
  text-align: center;
}

.mat-footer-copyright {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  flex-direction: column;
  min-width: 225px;
  text-align: center;
}

.mat-footer-logo span {
  display: inline-block;
  line-height: 50px;
  margin: 0 40px;
  vertical-align: bottom;

  a {
    font-size: 16px;
    padding: 0;
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: 884px){
  .mat-footer-list {
    flex-direction: column;
  }
}
